<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Meghan Maloy</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                        <li><a href="#about">About</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="drop-but">Portfolio <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/#Portfolio">Portfolio Overview</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">JS</li>
                                <li><a href="/calc/index.html">Calculator</a></li>
                                <li><a href="/pomodoro-clock/index.html">Pomodoro Clock</a></li>
                                <li><a href="/quote-machine/index.html">Quote Machine</a></li>
                                <li><a href="/simon/index.html">Simon</a></li>
                                <li><a href="/tic-tac-toe/index.html">Tic Tac Toe</a></li>
                                <li><a href="/weather/index.html">Weather</a></li>
                                <li><a href="/wikipedia-viewer/index.html">Wikipedia Viewer</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">D3</li>
                                <li><a href="/gdp/index.html">GDP</a></li>
                                <li><a href="/neighborhood-comparison/index.html">Neighborhood Comparison</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Excel</li>
                                <li><a href="https://github.com/mlm603/personal-site/raw/master/Excel%20files/EIW%20list%20with%20arrows.xlsm">EIW Excel Tool</a></li>
                                <li><a href="https://github.com/mlm603/mlm603.github.io/raw/master/Excel%20files/ListSearch%201-20-15%20MM.xlsm">List Comparison Excel Tool</a></li>
                                <li><a href="https://github.com/mlm603/mlm603.github.io/raw/master/Excel%20files/Bears%20Beets%20Battlestar%20Galactica.xlsm">Schrute Reports</a></li>
                                
                            </ul>
                        </li>
                        <li><a href="/posts/index.html">Blog</a></li>
                        <li><a href="#Contact">Contact</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>