<!DOCTYPE html>
<html>

<head>
    <title>Meghan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom local CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="basic.css">
</head>
<!-- app content -->
<link href="http://fonts.googleapis.com/css?family=Cabin Sketch" rel="stylesheet" type="text/css">

<body background="/images/profileBackground.png" data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class='container'>
        {{ partial "header.html" . }}
        <div class="row jumbotron jumbotron-special" id="page-top">
            <h2 class="big-header text-center">Meghan Maloy</h2>
            <p class="subtext text-center">
                Business business business. Numbers.
            </p>
            <table align="center">
                <tr>
                    <th>
                        <a href="https://twitter.com/mlm603" target="_blank"><img class='btn btn-block thumbnail maxout' src="/images/twitterIcon.png"></img>
            </a>
                    </th>
                    <th>
                        <a href="https://www.linkedin.com/pub/meghan-maloy/63/164/9a1" target="_blank"><img class='btn btn-block thumbnail maxout' src="/images/linkedinIcon.png"></img>
            </a>
                    </th>
                    <th>
                        <a href="https://github.com/mlm603" target="_blank"> <img class='btn btn-block thumbnail maxout' src="/images/githubIcon.png"></img>
            </a>
                    </th>
                    <th>
                        <a href="http://freecodecamp.com/mlm603" target="_blank"><img class='btn btn-block thumbnail maxout' src="/images/fccIcon.png"></img>
            </a>
                    </th>
                </tr>
            </table>
        </div>
        <div class="row jumbotron jumbotron-special" id="about">
            <div class="col-md-8">
                <h2 class="section-header">           About          Me</h2>
                <p> I am currently a Data Analyst at Datadog. After taking a course in VBA and using it heavily in an earlier role at Grant Thornton, I was inspired to learn more about coding. In August 2015, I began learning web development through
                    <a href="http://www.freecodecamp.com" target="_blank">Free Code Camp</a>.
                    <br>
                    <br>I have a B.S. in Math from Loyola University Chicago and an MBA with Economics concentration from Loyola's Quinlan School of Business.</p>
            </div>
            <div class="col-md-4">
                <br>
                <br>
                <br>
                <img class='img-responsive imgborder' src='/images/profilePic.png'>
            </div>
        </div>
        <div class="row jumbotron jumbotron-special" id="Portfolio">
            <div class="col-md-12">
                <h2 class="section-header">Portfolio</h2>
            </div>
            <div class="col-md-12">
                <h2 class="section-header" style="color:grey">Javascript</h2>
            </div>
            <div class="col-md-4">
                <h2 class="portfolioitem">Calculator</h2>
                <div class="texthover">
                    <a href="calc/index.html"> <img class='imgborder img-responsive project' src='/images/calculatorScreenshot.png'>
          <span class="overlay">Calculator created using HTML, CSS, and Javascript for Free Code Camp</span>
        </a>
                </div>
                <p class="projDesc">
                    Calculator created using HTML, CSS, and Javascript for Free Code Camp
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="portfolioitem">Pomodoro Clock</h2>
                <div class="texthover">
                    <a href="pomodoro-clock/index.html"> <img class='imgborder img-responsive project' src='/images/pomodoroScreenshot.png'>
          <span class="overlay">Pomodoro clock with adjustable work and break times created for Free Code Camp using HTML, CSS, and Javascript</span>
        </a>
                </div>
                <p class="projDesc">
                    Pomodoro clock with adjustable work and break times created for Free Code Camp using HTML, CSS, and Javascript
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="portfolioitem">            Quote Machine         </h2>
                <div class="texthover">
                    <a href="quote-machine/index.html"><img class='imgborder img-responsive project' src='/images/quoteMachineScreenshot.png'>
          <span class="overlay">A selection of quotes from "The Office" accessed by clicking a button created for Free Code Camp using HTML, CSS, and Javascript.</span>
        </a>
                </div>
                <p class="projDesc">
                    A selection of quotes from "The Office" accessed by clicking a button created for Free Code Camp using HTML, CSS, and Javascript
                </p>
            </div>
            <div class="col-md-12"></div>
            <div class="col-md-4">
                <h2 class="portfolioitem">            Simon         </h2>
                <div class="texthover">
                    <a href="simon/index.html"><img class='imgborder img-responsive project' src='/images/simonScreenshot.png'>
          <span class="overlay">A recreation of the classic game Simon for Free Code Camp using HTML, CSS, and Javascript</span>
        </a>
                </div>
                <p class="projDesc">
                    A recreation of the classic game Simon for Free Code Camp using HTML, CSS, and Javascript
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="portfolioitem">            Tic Tac Toe         </h2>
                <div class="texthover">
                    <a href="tic-tac-toe/index.html"><img class='imgborder img-responsive project' src='/images/ticTacToeScreenshot.png'>
          <span class="overlay">Tic Tac Toe game built using HTML, CSS, and Javascript for Free Code Camp</span>
        </a>
                </div>
                <p class="projDesc">
                    Tic Tac Toe game built using HTML, CSS, and Javascript for Free Code Camp
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="portfolioitem">Weather</h2>
                <div class="texthover">
                    <a href="weather/index.html"> <img class='imgborder img-responsive project' src='/images/weatherScreenshot.png'>
          <span class="overlay">Weather app created for Free Code Camp using OpenWeatherMap API, HTML, CSS, and Javascript</span>
        </a>
                </div>
                <p class="projDesc">
                    Weather app created for Free Code Camp using OpenWeatherMap API, HTML, CSS, and Javascript
                </p>
            </div>
            <div class="col-md-12"></div>
            <div class="col-md-4">
                <h2 class="portfolioitem">            Wikipedia Viewer  </h2>
                <div class="texthover">
                    <a href="wikipedia-viewer/index.html"><img class='imgborder img-responsive project' src='/images/wikipediaViewerScreenshot.png'>
          <span class="overlay">Wikipedia search tool created for Free Code Camp using Wikipedia API, HTML, CSS, and Javascript</span>
        </a>
                </div>
                <p class="projDesc">
                    Wikipedia search tool created for Free Code Camp using Wikipedia API, HTML, CSS, and Javascript
                </p>
            </div>
            <div class="col-md-12"></div>
            <div class="col-md-12">
                <h2 class="section-header" style="color:grey">D3</h2>
            </div>
            <div class="col-md-4">
                <h2 class="portfolioitem">US GDP</h2>
                <div class="texthover">
                    <a href="gdp/index.html"> <img class='imgborder img-responsive project' src='/images/gdpScreenshot.png'>
          <span class="overlay">US GDP Bar chart created using CSS, and D3.js for Free Code Camp</span>
        </a>
                </div>
                <p class="projDesc">
                    US GDP Bar chart created using CSS, and D3.js for Free Code Camp
                </p>
            </div>
            <div class="col-md-12"></div>
            <div class="col-md-12">
                <h2 class="section-header" style="color:grey">Excel (VBA)</h2>
            </div>
            <div class="col-md-4">
                <h2 class="portfolioitem">EIW Excel Tool</h2>
                <div class="texthover">
                    <a href="https://github.com/mlm603/mlm603.github.io/raw/master/Excel%20files/EIW%20list%20with%20arrows.xlsm" download> <img class='imgborder img-responsive project' src='/images/excelWorkbookScreenshot.png'>
            <span class="overlay">Excel tool to help law students evaluate employers</span>
          </a>
                </div>
                <p class="projDesc">
                    Excel tool to help law students evaluate employers
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="portfolioitem">List Comp Tool</h2>
                <div class="texthover">
                    <a href="https://github.com/mlm603/mlm603.github.io/raw/master/Excel%20files/ListSearch%201-20-15%20MM.xlsm" download> <img class='imgborder img-responsive project' src='/images/excelWorkbookScreenshot.png'>
          <span class="overlay">Excel tool for comparing two lists to find common constituents created using VBA</span>
        </a>
                </div>
                <p class="projDesc">
                    Excel tool for comparing two lists to find common constituents created using VBA
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="portfolioitem">Schrute Reports</h2>
                <div class="texthover">
                    <a href="https://github.com/mlm603/mlm603.github.io/raw/master/Excel%20files/Bears%20Beets%20Battlestar%20Galactica.xlsm"><img class='imgborder img-responsive project' src='/images/excelWorkbookScreenshot.png'>
          <span class="overlay">Excel file showing several stats on bears, beets, and Battlestar Galactica.</span>
        </a>
                </div>
                <p class="projDesc">
                    Excel file showing several stats on bears, beets, and Battlestar Galactica.
                </p>
            </div>
        </div>
        <div class="col-md-12"></div>
    <div class='row jumbotron jumbotron-special' id="Contact">
        <h2 class='text-center section-header'>Contact me</h2>
        <div class="col-md-3"></div>
        <div class='col-md-2'>
            <a class="button btn-default" href="mailto:meghanmaloy2014@u.northwestern.edu" target='_blank'>
                <button class='btn btn-block'>E-mail</button>
            </a>
        </div>
        <div class='col-md-2'>
            <a class="button btn-default" href="https://www.facebook.com/meghan.maloy" target='_blank'>
                <button class='btn btn-block'>Facebook</button>
            </a>
        </div>
        <div class='col-md-2'>
            <a class="button btn-default" href="https://www.linkedin.com/pub/meghan-maloy/63/164/9a1" target="_blank">
                <button class='btn btn-block'>LinkedIn</button>
            </a>
        </div>
    </div>
    {{ partial "libraries.html" . }}
</body>
{{ partial "GoogleAnalytics.html" . }}

</html>