.chart{
  width:49%;
  display:inline-block;
  background-color: #f7f7f7;
}

.city_flag{
  background-size:contain;
  display: inline-block;
  text-align: center;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

.city_flag h2{
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.neighborhood{
  font-size:25px;
  height:40px;
  width:100%;
  text-align: center;
}

.city-title{
  font-size:40px;
  color:white;
  background-color: black;
  padding: 10px 5% 10px 5%;
  width:90%;
  text-align: center;
}

.selected_n{
  fill: red;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>div {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

input[type=radio] + label>div{
  margin-left:2.5%;
  margin-right:2.5%;
  width:40%;
  height:80px;
}

 @media only screen and (min-width: 600px) {
    .chart{
      width:49%;
    }
    #filters{
      display:none 
    }
}

 @media only screen and (max-width: 600px) {
    .inactive_chart {
        display: none !important;
    }
    .chart{
      width:100%;
    }
    #filters{
      display:inline-block;
    }
}